html, body {
    margin:0;
    padding: 0;
}

body {
    color: black;
}

h1 {
    font-size: 60px;
}

h2 {
    text-align: center;
}

#header {
    background-color:white;
    grid-area: h;
    text-align:center;
    align-items: center;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color:white;
    grid-area: s;
    padding: 10px;
}

#thestuff {
    background-color:white;
    grid-area: ss;
}

#footer {
    background-color:white;
    grid-area: f;
}

#logo img {
    grid-area: logo;
    max-width: 100%;
    height: auto;
}

.grid-container-1 div {
    border: 1px solid black;
    display: grid;
}
 
.grid-container-1 {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 3px;
    grid-template-areas: 
    "logo h h h h"
    "s ss ss ss ss"
    "s ss ss ss ss"
    "s ss ss ss ss"
    "f f f f f"
    ;
    /* width: 100vw; */
    /* height: 100vh; */
}

/* For when logo gets wonky, gets rid of it */
@media (width < 1300px) {
    .grid-container-1 {
        grid-template-columns: 1fr 2fr 2fr 2fr;
        
        grid-template-areas:
            "h h h h"
            "s ss ss ss"
            "s ss ss ss"
            "s ss ss ss"
            "f f f f";
    }

    #logo {
        display: none;
    }
}


.content-block {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.content-block img {
    width: 300px;
    height: auto;
}

.content-block p {
    font-size: 18px;
}