html, body {
    margin:0;
    padding: 0;
}

body {
    color: black;
}

h1 {
    font-size: 60px;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

h3 {
    text-align: center;
}

#header {
    background-color:white;
    grid-area: h;
    text-align:center;
    align-items: center;
    border: 1px solid black;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color:white;
    grid-area: s;
    padding: 10px;
    border: 1px solid black;
}

#thestuff {
    background-color:white;
    grid-area: ss;
    border: 1px solid black;
}

#footer {
    background-color:white;
    grid-area: f;
    border: 1px solid black;
}

#logo img {
    grid-area: logo;
    max-width: 100%;
    height: auto;
    display: block;
}

#insanity {
    grid-area: w;
}

#insanityv2 {
    grid-area: ww;
}

#insanity img, #insanityv2 img {
    height: 10vh;
    width: 100%;
}

/* INDEX CONTAINER */
.grid-container-1 {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 3px;
    grid-template-areas: 
    "logo h h h h"
    "s ss ss ss ss"
    "s ss ss ss ss"
    "s ss ss ss ss"
    "f f f f f"
    ;
    /* width: 100vw; */
    /* height: 100vh; */
}

/* tablet/phone */
@media (width < 1300px) {
    .grid-container-1 {
        grid-template-columns: 1fr 2fr 2fr 2fr;
        
        grid-template-areas:
            "h h h h"
            "s ss ss ss"
            "s ss ss ss"
            "s ss ss ss"
            "f f f f";
    }

    #logo {
        display: none;
    }

    .content-block {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .content-block img {
        width: 98%; 
        margin-left: 0;
    }

    .content-block p {
        width: 90%;
    }
}

/* PAGE1 CONTAINER */
.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 3px;
    grid-template-areas: 
    "s ss ss ss ss"
    "s ss ss ss ss"
    "s ss ss ss ss"
    "s ss ss ss ss"
    "f f f f f"
    ;
    /* width: 100vw; */
    /* height: 100vh; */
}

/* tablet/phone */
@media (width < 1300px) {
    .grid-container-2 {
        grid-template-columns: 1fr 2fr 2fr 2fr;
        
        grid-template-areas:
            "s ss ss ss"
            "s ss ss ss"
            "s ss ss ss"
            "s ss ss ss"
            "f f f f";
    }

    .content-block {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .content-block img {
        width: 98%; 
        margin-left: 0;
    }

    .content-block p {
        width: 90%;
    }
}

/* PAGE2 CONTAINER */
.grid-container-3 {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 3px;
    grid-template-areas: 
    "w w w ww ww"
    "s ss ss ss ss"
    "s ss ss ss ss"
    "s ss ss ss ss"
    "f f f f f"
    ;
    /* width: 100vw; */
    /* height: 100vh; */
}

/* tablet/phone */
@media (width < 1300px) {
    .grid-container-3 {
        grid-template-columns: 1fr 2fr 2fr 2fr;
        
        grid-template-areas:
            "s ss ss ss"
            "s ss ss ss"
            "s ss ss ss"
            "s ss ss ss"
            "f f f f";
    }

    #insanity {
        display: none;
    }

    #insanityv2 {
        display: none;
    }

    .content-block {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .content-block img {
        width: 98%; 
        margin-left: 0;
    }

    .content-block p {
        width: 90%;
    }
}

@media (width > 1300px) {
    .content-block {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        margin-bottom: 100px;
    }

    .content-block img {
        margin-left: 10px;
        width: 500px;
    }

    .content-block p {
        font-size: 18px;
        flex: 1;
    }
}

.content-block {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 100px;
    align-items: center;
}

.content-block img {
    margin-left: 10px;
    /* width: 500px; */
}

.content-block p {
    font-size: 18px;
    flex: 1;
}

/* #maincharacter, #aura, #horseman {
    margin-top: 100px;
} */

li {
    margin-bottom: 10px;
}

