/* 
CHECKLIST

NEW GRID PER PAGE (semi good)
MEDIA QUERY PER PAGE (semi good)
NAV AND FOOTER PER PAGE (GOOD)
3 PHOTOS, TEXT BOXES (GOOD) AND 5 LISTS/TABLES/FORMS/COLOR BLOCKS etc PER PAGE (GOOD)

**TRY TO MAKE EVERYTHING LOOK NICER**
*/


html, body {
    margin:0;
    padding: 0;
}

body {
    color: black;
}

h1 {
    font-size: 60px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

#header {
    background-color:white;
    grid-area: h;
    text-align:center;
    align-items: center;
    border: 1px solid black;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color:white;
    grid-area: s;
    padding: 10px;
    border: 1px solid black;
}

#thestuff {
    background-color:white;
    grid-area: ss;
    border: 1px solid black;
}

#footer {
    background-color:white;
    grid-area: f;
    border: 1px solid black;
}

#logo img {
    grid-area: logo;
    max-width: 100%;
    height: auto;
    display: grid;
}

/* INDEX CONTAINER */
.grid-container-1 {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 3px;
    grid-template-areas: 
    "logo h h h h"
    "s ss ss ss ss"
    "s ss ss ss ss"
    "s ss ss ss ss"
    "f f f f f"
    ;
    /* width: 100vw; */
    /* height: 100vh; */
}

@media (width < 1300px) {
    .grid-container-1 {
        grid-template-columns: 1fr 2fr 2fr 2fr;
        
        grid-template-areas:
            "h h h h"
            "s ss ss ss"
            "s ss ss ss"
            "s ss ss ss"
            "f f f f";
    }

    #logo {
        display: none;
    }
}

@media (width < 800px) {
    .grid-container-1 {
        grid-template-columns: 1fr 1fr 1fr;
        
        grid-template-areas:
            "h h h"
            "s ss ss"
            "s ss ss"
            "s ss ss"
            "f f f";
    }

    #logo {
        display: none;
    }
}

/* PAGE1 CONTAINER */
.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 3px;
    grid-template-areas: 
    "s ss ss ss ss"
    "s ss ss ss ss"
    "s ss ss ss ss"
    "s ss ss ss ss"
    "f f f f f"
    ;
    /* width: 100vw; */
    /* height: 100vh; */
}

@media (width > 1300px) {
    .grid-container-2 {
        grid-template-columns: 1fr 2fr 2fr 2fr;
        
        grid-template-areas:
            "s ss ss ss"
            "s ss ss ss"
            "s ss ss ss"
            "s ss ss ss"
            "f f f f";
    }
}

/* PAGE2 CONTAINER */
.grid-container-3 {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 3px;
    grid-template-areas: 
    "s ss ss ss ss"
    "s ss ss ss ss"
    "s ss ss ss ss"
    "s ss ss ss ss"
    "f f f f f"
    ;
    /* width: 100vw; */
    /* height: 100vh; */
}

@media (width > 1300px) {
    .grid-container-3 {
        grid-template-columns: 1fr 2fr 2fr 2fr;
        
        grid-template-areas:
            "s ss ss ss"
            "s ss ss ss"
            "s ss ss ss"
            "s ss ss ss"
            "f f f f";
    }
}

.content-block {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.content-block img {
    width: 500px;
    height: auto;
    margin-left: 10px
}

.content-block p {
    font-size: 18px;
    flex: 1;
}